.fooddiv {
    width: 10rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E0F1DD;
    gap: 20px;
    border: 1px solid white;
    border-radius: 10px;
}

.foodimage {
    width: 50%;
    height: 5rem;
    border-radius: 10px;
}

.morebutton {
    border: none;
    background-color: #00ADB5;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 5px ;
}

.morebutton:hover {
    box-shadow: 1px 1px 5px ;
}